<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/responsive.css">
</head>
<body>

    {{>navbar}}

    <div id="about" class="about">
        <h4>About Us</h4>
        <p>Our mission is to help as many traders as possible. DT4B is one of the leading sites on the internet and over
            6,678 traders have gone through our education programs.
            We share over 18+ years of combined experience in Forex trading, Equity Market, F&O, COMMODITY MARKET.
            Originally from INDIA.
            We provide free trading tips on our website blog and our <a
                href="https://www.youtube.com/channel/UCDN81Dx69yis-_fGot4ZpFQ?sub_confirmation=1"
                target="_blank">YouTube channel.</a>
        </p>
    </div>
</body>
</html>