<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    {{>navbar}}

    <section class="wrap course">
        <div class="content course-bg">
            <h1 class="heading">COURSE WE OFFER</h1>
            <h3 class="title">
                Taking The Professional Trading Course will increase your confidence in your ability to apply financial
                markets knowledge.
                </p>
            </h3>
        </div>
        <div class="image content course-col">
            <div class="row">
                <div class="division">
                    <div class="cbg">
                        <h1>Basic of Stock Market</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹8000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <div class="cbg">
                        <h1>Option/Future</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹10000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <div class="cbg">
                        <h1>Commodity & Forex</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹15000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="division">
                    <div class="cbg">
                        <h1>Basic of Stock Market & Option/Future</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹12000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <div class="cbg">
                        <h1>Option/Future & Commodity & Share Market</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹18000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <div class="cbg">
                        <h1>Option/Future & Commodity & Share Market</h1>
                    </div>
                    <div class="cgb">
                        <h2>Starting from</h2>
                        <h3 class="price">₹22000</h3>
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrap holding course">
        <div class="image content course-col">

            <div class="row">
                <div class="division">
                    <h1>Course Name</h1>
                    <ul>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Weekly we give 7-8 holding/swing
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Monthly charges are 500/-
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            From experts of Fundamental!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            5-10% Return on your capital monthly bases!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            30-70% Return on the Yearly bases of your capital!
                        </li>
                    </ul>
                    <div class="row">
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Enquiry</a>
                            <a href="http://wa.link/b4b8yz" target="_blank">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <h1>Course Name</h1>
                    <ul>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Weekly we give 7-8 holding/swing
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Monthly charges are 500/-
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            From experts of Fundamental!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            5-10% Return on your capital monthly bases!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            30-70% Return on the Yearly bases of your capital!
                        </li>
                    </ul>
                    <div class="row">
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Enquiry</a>
                            <a href="http://wa.link/b4b8yz" target="_blank">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="division">
                    <h1>Course Name</h1>
                    <ul>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Weekly we give 7-8 holding/swing
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            Monthly charges are 500/-
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            From experts of Fundamental!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            5-10% Return on your capital monthly bases!
                        </li>
                        <li><span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x "></i>
                            </span>
                            30-70% Return on the Yearly bases of your capital!
                        </li>
                    </ul>
                    <div class="row">
                        <div class="tn">
                            <a href="http://wa.link/b4b8yz" target="_blank">Enquiry</a>
                            <a href="http://wa.link/b4b8yz" target="_blank">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}


    <!----------JAVASCRIPT----------->
    <!-- for making the menu comeout and go in OR CAN SAY FOR TOGGLE MENU -->
    <script src="./static/index.js"></script>

</body>

</html>