<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DT4B</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="/static/responsive.css">

    <!-- below 2 link we took from google fonts -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?  family=Rubik:ital,wght@0,400;0,500;1,300;1,400&   display=swap"
        rel="stylesheet">

    <!-- this link is for opening and closing button menu for small device  -->
    <script src="https://kit.fontawesome.com/548ffcd9d6.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- -nav- -->
    {{>navbar}}

    <section class="header">
        <!-- Making nev bar image.html coz AS WE CLICK on it it will come to index showing page -->

        <div class="textbox">
            <h1>DT4B</h1>
            <p>Financial Consulting. Let Us Do the Price Action Trading.</p>
            <a href="/contact" class="hero-btn">Contact Us to know more!</a>
        </div>


    </section>
    <!-- -nav end- -->

    <!-- -COURSE- -->
    <section class="wrap holding course">
        <div class="course-col">
            <div class="image content row">
                <img src="../static/images/services.webp">
                <ul>
                    <li>
                        <div class="content">
                            <p>
                            <h3 class="headingline">OUR SERVICES</h3>
                            </p>
                        </div>
                    </li>
                    <li>Follow my lead, We do not promise overnight success, but we promise that we will teach you how
                        to become a consistent and profitable trader.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="wrap course">
        <div class="course-col">
            <div class="image content row">
                <ul>
                    <li>
                        <div class="content">
                            <p>
                            <h3 class="headingline">BEST EBOOKS FOR DAY TRADERS</h3>
                            </p>
                        </div>
                    </li>
                    <li>Day trading books can teach you about strategy, risk management, psychology, and a great deal
                        about technical analysis. Unfortunately, librarians and book retailers aren’t day traders. This
                        makes tracking down the best books somewhat challenging. Fortunately, this page has broken down
                        and collated the best books for beginners, top books for particular assets, as well as detailing
                        how different formats can best suit your individual needs.</li>
                </ul>
                <img src="../static/images/books.png">
            </div>
        </div>
    </section>

    <section class="wrap holding course">


        <div class="content yt row">
            <div class="ytl">
                <div class="gt-dev"></div>
                <div class="gt-dev"></div>
                <a href="https://www.youtube.com/channel/UCDN81Dx69yis-_fGot4ZpFQ" target="_blank"><img
                        class="open-dev-badge" src="../static/images/youtube.png"></a>
            </div>
            <ul>
                <li>
                    <div class="content">
                        <p>
                        <h3 class="headingline">BEST EBOOKS FOR DAY TRADERS</h3>
                        </p>
                    </div>
                </li>
                <li>Day trading books can teach you about strategy, risk management, psychology, and a great deal
                    about technical analysis. Unfortunately, librarians and book retailers aren’t day traders. This
                    makes tracking down the best books somewhat challenging. Fortunately, this page has broken down
                    and collated the best books for beginners, top books for particular assets, as well as detailing
                    how different formats can best suit your individual needs.</li>
            </ul>
        </div>
    </section>

    <!--<section class="wrap course">
        <div class="content">
            <h1 class="heading">COURSE WE OFFER</h1>
            <p class="title">
                Taking The Professional Trading Course will increase your confidence in your ability to apply financial
                markets knowledge.
            </p>
        </div>
        <div class="image content course-col">
            <h3 class="headingline"><u>LEARNING</u></h3>
            <p class="title">Exclusive DT4B Commodity Online Live</p>
            <p class="title"><b>BONUS#1:- ALL CLASS IS LIVE ONE TO ONE DOUBT TAKEN ON SPOT(NO RECORDED SESSION)<br>
                    BONUS#2:- LIFE TIME ASSISTANCE , WHEN EVER YOU NEEDED!</b>
            </p>
            <div class="row">
                <ul>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Training by MCX Certified Commodity Professional.
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Basics of Commodity Markets & Trading System
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Detailed Candlestick Study
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Trend Analysis
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Support and Resistance
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Trend Lines
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Chart patterns & Price Action
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Fibonacci Retracemet Technique
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Gap Theory
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Ichimokku Charting System
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Analysis & Interpretation of Economy and Industry data
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Unique Intraday Trading Setup
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Trading Pyschology & Money Management
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Commodity Trading in Live Market
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Most special is our Trading Setup
                    </li>
                </ul>
                <img src="../static/images/chat.jpg">
            </div>
            <div class="row">
                <div class="tn">
                    <a href="http://wa.link/b4b8yz" target="_blank">Enquiry</a>
                    <a href="http://wa.link/b4b8yz" targte="_blank">Join Now</a>
                </div>
            </div>
        </div>
    </section>

    <hr class="l1">

    <section class="wrap holding course">
        <div class="course-col">
            <img class="bg" src="../static/images/holding1.jpg" alt="">
            <div class="content">
                <h2 class="headingline"><u>HOLDING-CALLS</u></h2>
                <p class="title"><b>#BONUS:- We also add you in discussion group, where you can even take our
                        suggestion on
                        your stock also Suggestion in form of VIDEO AND ELABORATED VIEW!</b>
                </p>
            </div>
            <div class="image content row">
                <img src="../static/images/holding2.jpg">
                <ul>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Weekly we give 7-8 holding/swing
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        Monthly charges are 500/-
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        From experts of Fundamental!
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        5-10% Return on your capital monthly bases!
                    </li>
                    <li><span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x "></i>
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x "></i>
                        </span>
                        30-70% Return on the Yearly bases of your capital!
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="tn">
                    <a href="http://wa.link/b4b8yz" target="_blank">Enquiry</a>
                    <a href="http://wa.link/b4b8yz" target="_blank">Join Now</a>
                </div>
            </div>
        </div>


    </section>

    <hr class="l1">

    <section class="wrap holding course">
        <img class="bg" src="../static/images/intra.png" alt="">
        <div class="content course-col">
            <h3 class="headingline"><u>INTRADAY-CALLS</u></h3>
            <p class="title"><b>#BONUS:- We give it for free on Livestream</b></p>
            <div class="hover">
                
            <div class="gt-dev"></div>
            <div class="gt-dev"></div>
            <a href="https://www.youtube.com/channel/UCDN81Dx69yis-_fGot4ZpFQ" target="_blank"><img class="open-dev-badge" src="../static/images/youtube.png"></a>
        </div>
    </section>


    <!-- -course end- -->




    <!-- ---------------------------------------------------------------------- -->


    <!-- SPACE FOR ADDING YOUTUBE LIVE STREAM -->



    <!-- ---------------------------------------------------------- -->



    <!-- ---------------------FOR TESTIMONIALS--------------------- -->

    <section class="testimonials">
        <h1>What Our Clients Says About Us</h1>
        <p>Don't Just Take Our Words For It , Read What Our Members Are Saying</p>
    </section>
    <div class="slideshow-container">
        <section class="testimonials">
            <div class="mySlides fade">
                <div class="row">
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>MOHIT</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>YASH</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mySlides fade">
                <div class="row">
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>sherawat</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>raaj</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="row">
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>Mohit</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                    </div>
                    <div class="testimonial-col">
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, maiores
                                dicta
                                quia libero necessitatibus porro harum fuga quibusdam natus.
                            </p>
                            <h3>Yash</h3>
                            <!-- ---adding star as coustmer rating---- -->
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center; margin-bottom:50px;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <!-- ----------------testimonial ends--------------------- -->



    <!-- ----------------------CALL TO ACTION-------------------------------- -->

    <section class="enquire">
        <div class="cta">
            <h1>
                STILL LIKE TO ENQUIRE MORE!
            </h1>
            <a href="/contact" class="hero-btn">CONTACT</a>
        </div>
    </section>


    <!-- ----------------CALL TO ACTION END------------------------------------------ -->
    <div id="about" class="about">
        <h4>About Us</h4>
        <p>Our mission is to help as many traders as possible. DT4B is one of the leading sites on the internet and over
            6,678 traders have gone through our education programs.
            We share over 18+ years of combined experience in Forex trading, Equity Market, F&O, COMMODITY MARKET.
            Originally from INDIA.
            We provide free trading tips on our website blog and our <a
                href="https://www.youtube.com/channel/UCDN81Dx69yis-_fGot4ZpFQ?sub_confirmation=1"
                target="_blank">YouTube channel.</a>
        </p>
    </div>
    <!-- ----------------------------------FOOTER------------------------------------------ -->


    {{>footer}}



    <!----------JAVASCRIPT----------->
    <!-- for making the menu comeout and go in OR CAN SAY FOR TOGGLE MENU -->
    <script src="./static/index.js"></script>

</body>

</html>