<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    
    <!-- below 2 link we took from google fonts -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?  family=Rubik:ital,wght@0,400;0,500;1,300;1,400&   display=swap" rel="stylesheet">

    <!-- this link is for opening and closing button menu for small device  -->
    <script src="https://kit.fontawesome.com/548ffcd9d6.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>navbar}}

    <section class="yt gap">
        <div class="tn">
            <h1>OUR LATEST LIVESTREAM</h1>
        </div>
        <iframe src="https://www.youtube.com/embed/nC8U8BlXjXk" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </section>



    <section class="playlist">
        <div class="row">
            <div class="tn">
                <img src="../static/images/tn1.jpg">
                <h3>SIMPLE SCALPING STRATEGY</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJWrRI5i2DEbCfvo4-aUfrx-" target="_blank">Watch
                    now</a>
            </div>
            <div class="tn">
                <img src="../static/images/tn2.jpg">
                <h3>LIVE MARKET TRADE</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJUbAmkzt8pJvnu5d45LkH8q" target="_blank">Watch
                    now</a>
            </div>
            <div class="tn">
                <img src="../static/images/tn3.jpg">
                <h3>OPTION TRADING GREEK</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJUv74tNfy5QQXpnJNPPeDt9" target="_blank">Watch
                    now</a>
            </div>
        </div>
        <div class="row">
            <div class="tn">
                <img src="../static/images/tn4.jpg">
                <h3>BEST SHARE MARKET COURSE FREE FOR COST</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJWXkJtCzdTI6M9jMHuJqrgk" target="_blank">Watch
                    now</a>
            </div>
            <div class="tn">
                <img src="../static/images/tn5.jpg">
                <h3>ADVANCE PRICE ACTION TRADING PATTERNS</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJUJogD_AzY2U52EkMKckDz7" target="_blank">Watch
                    now</a>
            </div>
            <div class="tn">
                <img src="../static/images/tn6.jpg">
                <h3>PRICE ACTION COURSE(FOR FREE)</h3>
                <a href="https://youtube.com/playlist?list=PL5rTJYLL4uJU7WVzt5j2MYg4Qu1UNRfr0" target="_blank">Watch
                    now</a>
            </div>
        </div>
    </section>

    {{>footer}}

</body>
</html>