<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?  family=Rubik:ital,wght@0,400;0,500;1,300;1,400&   display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/548ffcd9d6.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <nav>
        <a href="/home"><img src="../static/images/dt4bimg2.png"></a>
        <div class="nav-links menu-bar" id="navlinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/youtube">YouTube</a></li>
                
                <li class="navrow"><a href="/course">Services<i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="/course">Courses</a></li>
                            <li><a href="/course">Calls</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/books">Books</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>
</body>
</html>
